<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
    body{
        background: darkseagreen ;
        text-align: center;
        font-size: 50px;
    }

</style>
</head>

<body>
<h1>Homework 2 <P style="position: relative; font-size: 20px; opacity: 70%; ">Shnurenko Viktoriia</h1>
        <header>
            <nav>
                <ul>

                    <li><a href="http://127.0.0.1:5000/requirements/">First Task</a></li>
                    <li><a href="http://127.0.0.1:5000/users/generate">Second Task</a></li>
                    <li><a href="http://127.0.0.1:5000/mean/">Third Task</a></li>
                    <li><a href="http://127.0.0.1:5000/space/">Fourth Task</a></li>
                </ul>
            </nav>
        </header>
</body>
</html>